<!-- Bottom Nav -->
<footer>
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <div class="container-fluid">
        <h6>&copy; G7-W22-COMP213.</h6>
      </div>
    </nav>
  </footer>