<!-- Main Navigation -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i><img src="/Assets/images/LOGO.png" alt=""></i> CVA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">          
          <li class="nav-item">
          <% if(title == "Home"){%>
            <a class="nav-link active"aria-current="page" href="/home"><i class="fas fa-laptop-house"></i> Home</a>
          <%}else{ %>
            <a class="nav-link"aria-current="page" href="/home"><i class="fas fa-laptop-house"></i> Home</a>
          <% } %>
          </li>

          <li class="nav-item">
            <% if(title == "About"){%>
              <a class="nav-link active"aria-current="page" href="/about"><i class="fas fa-info-circle"></i> About</a>
            <%}else{ %>
              <a class="nav-link"aria-current="page" href="/about"><i class="fas fa-info-circle"></i> About</a>
            <% } %>
          </li>

          <li class="nav-item">
            <% if(title == "Vaccines-list"){%>
              <a class="nav-link active"aria-current="page" href="/Vaccines-list"><i class="fas fa-id-card"></i> Vaccines-list</a>
            <%}else{ %>
              <a class="nav-link"aria-current="page" href="/Vaccines-list"><i class="fas fa-id-card"></i> Vaccines-list</a>
            <% } %>
          </li>

          <li class="nav-item">

            <% if(typeof adminUser == 'boolean' && adminUser ) {%> 
              <span class="nav-item"><a href="/medicalUser-list" class="nav-link">
                <i class="fas fa-lg fa-sign-out-alt"></i>Medical User List</a></span>
            <% } else { %> 
              <span style="display: none;" class="nav-item"><a href="/medicalUser-list" class="nav-link">
                <i class="fas fa-lg fa-sign-out-alt"></i>Medical User List</a></span>
            <% } %> 

          </li>

            <% if(typeof displayName == 'string' && displayName ) {%> 
              <span class="navbar-text"><i class="fas fa-lg fa-user">Welcome, <%= displayName %> </i></span>
              <span class="nav-item"><a href="/logout" class="nav-link">
                <i class="fas fa-lg fa-sign-out-alt"></i>Logout</a></span>
            <% } else { %> 
              <span class="nav-item"><a href="/login" class="nav-link">
                <i class="fas fa-lg fa-sign-out-alt"></i>Login</a></span>
            <% } %> 

          </li>
        </div>
    </div>
  </nav>